
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --letra1:"Lobster", sans-serif;
  --letra2:"Biryani", sans-serif;

  
}


body{
background-image: linear-gradient(to bottom left, #DEBAFA, #9C59D1);   
  border: none;
  margin:0;
padding:0;
display:grid;
grid-template-rows: 1fr auto 1fr;
}


header{
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
}

#logold{
  height:20vh;
}

#joyeriadeensueno{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:15vh;
  
}

.group {
  display: flex;
  line-height: 28px;
  align-items: flex-start;
  justify-content: flex-end;
    max-width: 30vh;
    margin-bottom:5%;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #CCA1EE;
  color: #39006e;
  box-shadow: 0 0 5px #39006e, 0 0 0 10px #CCA1EE;

  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:3vh
}

.input::placeholder {
  color: #26043698;
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:3vh;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}



main{
  display: flex;
  align-items: center;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;

  background-color:rgb(227, 181, 241);
  border: none;
  border-radius: 10% 10% 0 0;
}

#divmadre {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
}


.divimg{
  display:grid;
  grid-template-columns: 10fr 10fr 10fr 0fr;
  background-color: aliceblue;
}

.txt{
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:3vh;
  margin-top:5%;
  margin-left:5%;
}

.imagenes{
  height:40vh;
  min-height:30vh;
}

.imagenes:hover{
  transform:scale(1.1);
}

#imagen32{
  height:30vh;
  min-height:30vh;
}
#imagen32:hover{
  transform:scale(1.1);
  }

#imagen33{
  height:30vh;
  min-height:30vh; 
}
#imagen33:hover{
  transform:scale(1.1);
  }


button{
    text-align: center;
    border-radius: 20px;
    position:relative;
    Left:1300px;
    bottom:100px;
    justify-content: flex-end;
}



